$font-stack: 100% Nunito-Bold;
body {
    font: $font-stack;
}

h2 {
    font-size: 3.5em;
    text-transform: capitalize;
    color: #393b3a;
}

h3 {
    font-size: 2.5em;
    text-transform: capitalize;
    color: #393b3a;
}

.navbar {
    margin-bottom: 0;
}

.stu-slide {
    position: relative;
}

.stu-trianglify canvas {
    width: 100%;
}

.slider-block {
    position: absolute;
    top: 0;
    width: 100%;
    .particles-js-canvas-el {
        max-height: rem-calc(500px);
    }
}

.stu-trianglify-contact canvas {
    width: 100%;
}

.contact {
    position: relative;
}

.stu-contact-form {
    font-size: 1.5em;
    background-image: url(../image/contact-backgroup.png);
    padding: 3rem 1.5rem;
    .form-group {
        margin-bottom: rem-calc(45px);
    }
    input,
    textarea {
        font-size: 1.5em;
    }
    input {
        height: rem-calc(50px);
    }
    .btn-submit-width {
        width: 50%;
        margin: 0 auto;
        input {
            line-height: 0.1em;
        }
    }
}

.hello-center {
    width: 100%;
    position: absolute;
    top: 10%;
}

.hello-block {
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
    h2 {

        font-size: 5em;
        text-transform: capitalize;
        color: #393b3a;
        span {
            color: #00cfbd;
        }
    }
    p {
        color: #393b3a;
        font-size: 2em;
    }
}

.stu-font-social {
    .fa {
        font-size: 7em;
    }
    .stu-font-face:hover {
        color: #3a5795;
    }
    .stu-font-google:hover {
        color: #db4437;
    }
    .stu-font-twitter:hover {
        color: #1da1f2;
    }
    .stu-font-linked:hover {
        color: #1a85bc;
    }
}

.title-center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5rem;
}

.exclamation {
    color: #00cfbd;
    font-size: 0.9em;
}

.colored-line {
    background: #008ed6;
    margin: auto;
    height: rem-calc(2px);
    width: rem-calc(80px);
    display: block;
}

.colored-line-full {
    background: #008ed6;
    margin: auto;
    height: rem-calc(2px);
    display: block;
}

.study,
.skill {
    margin-top: 5%;
}

.study {
    p {
        font-size: 1.3em;
        color: #393b3a;
        padding: 1.1em 0 0 0;
    }
}

.skill-block {
    width: 100%;
    height: rem-calc(50px);
    .progress-bar {
        height: rem-calc(15px);
        border-radius: rem-calc(6px)
    }
}

.about,
.stu-social,
.contact {
    padding: 2rem .9375rem;
}

.navbar-fixed-top {
    position: fixed;
    z-index: 1;
}

.technologies-image {
    background-image: url(../image/Technologies-backgroud.png);
    padding: 3rem;
    img {
        width: rem-calc(200px);
        height: rem-calc(60px);
        margin: 0.75rem;
        display: inline-block;
        &:hover {
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}



/* Let's get this party started */

::-webkit-scrollbar {
    width: rem-calc(12px);
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 rem-calc(6px) rgba(0, 0, 0, 0.3);
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
}


/* Handle */

::-webkit-scrollbar-thumb {
    /*   -webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: #293D93;
    -webkit-box-shadow: inset 0 0 rem-calc(6px) rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}
