@import "../variable";
$font-stack: 100% Nunito-Bold;
body {
    font: $font-stack;
}

h1 {
    font-size: 5.5em;
}

h2 {
    font-size: 4.5em;
    text-transform: capitalize;
    color: #393b3a;
}

h3 {
    font-size: 3.5em;
    text-transform: capitalize;
    color: #393b3a;
}

h4 {
    font-size: 2.5em;
}

p,
li {
    font-size: 1.7em;
}

.navbar {
    margin-bottom: 0;
}

.stu-slide {
    position: relative;
}

.stu-trianglify canvas {
    width: 100%;
    height: 100%;
}

.slide-block {
    position: absolute;
    top: 0;
    width: 100%;
    .particles-js-canvas-el {
        max-height: 500px;
    }
}

.stu-trianglify-contact canvas {
    width: 100%;
}

.contact {
    position: relative;
    background-image: url(../image/contact-backgroup.png);
}

.stu-contact-form {
    font-size: 1.5em;
    padding: 3rem 1.5rem;
    .form-group {
        margin-bottom: rem-calc(45px);
    }
    input,
    textarea {
        font-size: 1.5em;
    }
    input {
        height: 6rem;
    }
    .btn-submit-width {
        width: 50%;
        margin: 0 auto;
        input {
            line-height: 0.1em;
        }
    }
}

.hello-center {
    width: 100%;
    position: absolute;
    top: 10%;
}

.hello-block {
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
    h2 {
        font-size: 5em;
        text-transform: capitalize;
        color: #393b3a;
        span {
            color: #00cfbd;
        }
    }
    p {
        color: #393b3a;
        font-size: 2em;
    }
}

.stu-social {
    .fa {
        font-size: 7em;
    }
    a {
        color: #333333;
        text-decoration: none;
        display: block;
        &:hover {
            .fa-facebook,
            .facebook-text {
                color: #3a5795;
            }
            .fa-google-plus,
            .google-text {
                color: #db4437;
            }
            .fa-twitter,
            .twitter-text {
                color: #1da1f2;
            }
            .fa-linkedin,
            .linked-text {
                color: #1a85bc;
            }
        }
    }
}

.title-center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5rem;
}

.exclamation {
    color: #00cfbd;
    font-size: 0.9em;
}

.colored-line {
    background: #008ed6;
    margin: auto;
    height: rem-calc(2px);
    width: rem-calc(80px);
    display: block;
}

.colored-line-full {
    background: #008ed6;
    margin: auto;
    height: rem-calc(2px);
    display: block;
}

.study,
.skill {
    margin-top: 5%;
}

.study {
    .image-school {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        img {
            width: 75%;
        }
    }
    .infomation-study {
        padding-top: 4rem;
        li {
            font-size: 2em;
        }
    }
}

.skill-block {
    width: 100%;
    height: 62px;
    .progress-bar {
        height: 30%;
        border-radius: rem-calc(6px)
    }
}

.about,
.stu-social,
.contact {
    padding: 2rem .9375rem;
}

.navbar-fixed-top {
    position: fixed;
    z-index: 1;
}

.technologies-image {
    background-image: url(../image/Technologies-backgroud.png);
    padding: 1.5rem;
    img {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}

.experience-content {
    ul {
        list-style-type: none;
        li {
            list-style-type: none;
            &::before {
                float: left;
                margin-left: -25px;
                font-family: 'Glyphicons Halflings';
                color: #6fb72b;
                content: "\e089";
            }
        }
    }
}

.loading {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: #f9f9f9;
    .modal-dialog {
        width: 50%;
        height: 50%;
        margin: 0 auto;
        padding-top: 10rem;
        text-align: center;
        .fa-spin {
            font-size: 15em;
        }
    }
}


/* Let's get this party started */

::-webkit-scrollbar {
    width: rem-calc(12px);
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 rem-calc(6px) rgba(0, 0, 0, 0.3);
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
}


/* Handle */

::-webkit-scrollbar-thumb {
    /*   -webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: #293D93;
    -webkit-box-shadow: inset 0 0 rem-calc(6px) rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 15px;
}
